<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Hi tis change is done.Created by -{{authname}} </p>
<form action="/admin/page" method="POST">
<button type="submit" value="0" name="value" >Sign Up</button>
<button type="submit" value="1" name="value" >Sign In</button>
</form>